// out: style.css, sourcemap: false, compress: true

@import "normalize.css";

@black: #333;
@white: #fafafa;
@blue: #3584a0;
@grey: #999;

@sansFontFamily: Roboto, Helvetica, Arial, sans-serif;
@lightSansFontFamily: @sansFontFamily;

body {
  background: @white;
  font-family: @sansFontFamily;
  font-weight: 300;
  color: @black;
  min-height: 740px;
  line-height: 1.4;
}
h1, h2, h3, h4, h5 {
  font-family: @sansFontFamily;
  font-weight: 300;
}

.transition (...) {
  -webkit-transition: @arguments;
  -moz-transition:    @arguments;
  -ms-transition:     @arguments;
  -o-transition:      @arguments;
  transition:         @arguments;
}
.transform(...) {
  -webkit-transform: @arguments;
  -moz-transform:    @arguments;
  -ms-transform:     @arguments;
  -o-transform:      @arguments;
  transform:         @arguments;
}
.transform-style(...) {
  -webkit-transform-style: @arguments;
  -moz-transform-style:    @arguments;
  -ms-transform-style:     @arguments;
  -o-transform-style:      @arguments;
  transform-style:         @arguments;
}
.transform-origin(...) {
  -webkit-transform-origin: @arguments;
  -moz-transform-origin:    @arguments;
  -ms-transform-origin:     @arguments;
  -o-transform-origin:      @arguments;
  transform-origin:         @arguments;
}

@transition-time: 0.6s;

svg {
  .transform-style(preserve-3d);
}

.step {
  position: relative;
  margin: 20px auto;

  width: 900px;
  height: 700px;
  padding: 0;
  margin: 0;
  opacity: 0;
  .transition(opacity @transition-time);

  &.present, &.active {
    opacity: 1;
  }
}

.credit {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  bottom: 0;
  text-align: center;
  font-weight: 200;
}


/** INTRO **/

#scott-logic,
#hiring {
  width: 500px;
  height: 120px;
}
.impress-on-hiring #scott-logic {
  opacity: 1;
}

#my-aim-today,
#understanding,
#information-architecture,
#content,
#interaction-design,
#visual-design,
#more-to-it {
  width: 580px;
  height: 510px;

  g {
    .transition(opacity @transition-time);
  }
}
.impress-on-understanding #my-aim-today {
  opacity: 1;
  g:not(.understanding) {
    opacity: 0.3;
  }
}
.impress-on-information-architecture #my-aim-today {
  opacity: 1;
  g:not(.information-architecture) {
    opacity: 0.3;
  }
}
.impress-on-content #my-aim-today {
  opacity: 1;
  g:not(.content) {
    opacity: 0.3;
  }
}
.impress-on-interaction-design #my-aim-today {
  opacity: 1;
  g:not(.interaction-design) {
    opacity: 0.3;
  }
}
.impress-on-visual-design #my-aim-today {
  opacity: 1;
  g:not(.visual-design) {
    opacity: 0.3;
  }
}
.impress-on-more-to-it #my-aim-today {
  opacity: 1;
}

#power-trading,
#producer-and-consumers,
#producers-and-consumers,
#power-exchange,
#why-power-trading,
#who-nps,
#why-is-power-trading-different,
#day-ahead-vs-intraday {
  width: 810px;
  height: 500px;
}
.impress-on-why-power-trading #power-exchange,
.impress-on-who-nps #power-exchange,
.impress-on-who-nps #why-power-trading {
  opacity: 1;
}


/** UNDERSTAND **/

#areas-map {
  path,
  text {
    .transition(opacity @transition-time);
  }

  &.past {
    path:not(.no1),
    text:not(.no1) {
      opacity: 0.2;
    }
  }
}
.impress-on-one-area #areas-map.past {
  opacity: 1;
}

#hourly-order-table {
  display: none;
  opacity: 0;
  .transition(opacity @transition-time);
  width: 1500px;
  height: 800px;

  .table {
    width: 100%;
    height: 100%;

    > .row {
      opacity: 0;
      .transition(opacity @transition-time);

      width: 100%;
      height: 30px;
      position: relative;
    }
  }

  .hour {
    opacity: 0;
    .transition(opacity @transition-time);
    .transition(font-size @transition-time);
    .transition(width @transition-time);

    display: inline-block;
    width: 80px;
    text-align: left;
  }
  .time {
    opacity: 0;
    .transition(opacity @transition-time);
    .transition(font-size @transition-time);
    .transition(width @transition-time);

    display: inline-block;
    width: 90px;
    font-size: 0.8em;
    color: @grey;
    text-align: left;
  }
  .price-step {
    opacity: 0;
    .transition(opacity @transition-time);
    .transition(font-size @transition-time);
    .transition(width @transition-time);

    display: inline-block;
    width: 50px;
    text-align: right;
  }
  .curve {
    opacity: 0;
    .transition(opacity @transition-time);

    display: inline-block;
    position: absolute;
    top: -250px;
    left: 100px;
    width: 1100px;
    height: 500px;
  }
  .units {
    font-size: 0.8em;
    color: @grey;
    .transition(font-size @transition-time);
  }

  .line {
    fill: none;
    stroke: black;
    stroke-width: 1.5px;
  }
  .price {
    fill: none;
    stroke: red;
    stroke-width: 2px;
    display: none;
  }
  .origin, .tick {
    fill: none;
    stroke: grey;
    stroke-width: 0.5px;
  }
  .label {
    fill: grey;
  }
}
.impress-on-twenty-four-hours #hourly-order-table {
  display: block;
  opacity: 1;
  .table > .row {
    opacity: 1;
  }
  .hour,
  .time {
    opacity: 1;
  }
}
.impress-on-one-hour #hourly-order-table,
.impress-on-min-max-price #hourly-order-table,
.impress-on-min-max-price-vols #hourly-order-table,
.impress-on-extra-price-steps #hourly-order-table {
  display: block;
  opacity: 1;
  .table > .row {
    &:nth-child(2) {
      opacity: 1;
    }
  }
  .hour,
  .time {
    opacity: 1;
  }
}
.impress-on-min-max-price #hourly-order-table,
.impress-on-min-max-price-vols #hourly-order-table {
  display: block;
  opacity: 1;
  .table > .row {
    &:nth-child(1) {
      opacity: 1;

      .price-step.min,
      .price-step.max {
          opacity: 1;
      }
    }
  }
  .hour {
    width: 50px;
  }
  .time {
    width: 0;
    font-size: 0;
  }
  .price-step {
    width: 0;
    font-size: 0;

    &.min,
    &.max {
      width: 100px;
      font-size: 1em;
    }
  }
}
.impress-on-min-max-price-vols #hourly-order-table,
.impress-on-extra-price-steps #hourly-order-table {
  display: block;
  opacity: 1;
  .table > .row {
    &:nth-child(2) {
      .price-step.min,
      .price-step.max {
        opacity: 1;
      }
    }
  }
}
.impress-on-extra-price-steps #hourly-order-table {
  display: block;
  opacity: 1;
  .table > .row {
    &:nth-child(1),
    &:nth-child(2) {
      opacity: 1;
      .price-step {
        opacity: 1;
      }
    }
  }
  .hour {
    width: 50px;
  }
  .time {
    width: 0;
    font-size: 0;
  }
  .units {
    font-size: 0;
  }
  .price-step {
    width: 65px;
    font-size: 1em;
  }
}
.impress-on-order-curve #hourly-order-table,
.impress-on-order-curve-focused #hourly-order-table {
  display: block;
  opacity: 1;
  .table > .row {
    &:nth-child(2) {
      opacity: 1;
      .price-step {
        opacity: 0;
      }
      .curve {
        opacity: 1;
      }
    }
  }
  .hour,
  .time {
    opacity: 1;
  }
  .hour {
    width: 50px;
  }
  .time {
    width: 0;
    font-size: 0;
  }
  .units {
    font-size: 0;
  }
}

#supply-demand {
  .de-emphasise {
    .transition(all @transition-time);
  }
  &.past {
    .de-emphasise {
      opacity: 0.3;
    }
  }
}
.impress-on-supply-demand-price #supply-demand {
  opacity: 1;
}

.impress-on-order-curve-with-price #hourly-order-table {
  display: block;
  opacity: 1;
  .table > .row {
    &:nth-child(2) {
      opacity: 1;
      .price-step {
        opacity: 0;
      }
      .curve {
        opacity: 1;
        .price {
          display: block;
        }
      }
    }
  }
  .hour {
    opacity: 1;
  }
  .time {
    width: 0;
    font-size: 0;
  }
}
.impress-on-twenty-four-hours-order-curves #hourly-order-table {
  display: block;
  opacity: 1;
  .table > .row {
    opacity: 1;
    .price-step {
      opacity: 0;
    }
    .curve {
      opacity: 1;
      .price {
        display: block;
      }
      height: 30px;
      top: 0;
    }
  }
  .hour {
    opacity: 1;
  }
  .time {
    width: 0;
    font-size: 0;
  }
  .y.min.hourly,
  .y.max.hourly,
  .y.label.hourly,
  .x.label.hourly {
    opacity: 0;
  }
}
.impress-on-full-price-matrix #hourly-order-table {
  display: block;
  opacity: 1;
  .table > .row {
    opacity: 1;
  }
  .hour {
    opacity: 1;
  }
  .time {
    font-size: 0em;
    width: 0;
  }
  .units {
    font-size: 0;
  }
  .price-step {
    opacity: 1;
    width: 65px;
    font-size: 1em;
  }
}

.impress-on-one-area-2 #areas-map.past {
  opacity: 1;
}
.impress-on-areas-map-2 #areas-map.past {
  opacity: 1;
  path:not(.no1),
  text:not(.no1) {
    opacity: 1;
  }
}


/** INFORMATION ARCHITECTURE **/

#visual-information-seeking {
  width: 900px;
  height: 400px;
  h1 {
    font-size: 60px;
    margin: 0;
    padding: 0;
    &:nth-child(2) {
      margin-left: 120px;
    }
    &:nth-child(3) {
      text-align: right;
    }
  }
  h2 {
    text-align: right;
    font-size: 36px;
    opacity: 0.5;
  }
}

.impress-on-da-overview-problem #hourly-order-table,
.impress-on-da-overview-problem-2 #hourly-order-table {
  display: block;
  opacity: 1;
  .table > .row {
    opacity: 1;
  }
  .hour {
    opacity: 1;
  }
  .time {
    font-size: 0em;
    width: 0;
  }
  .units {
    font-size: 0;
  }
  .price-step {
    opacity: 1;
    width: 65px;
    font-size: 1em;
  }
}

#overview-first-is-nested {
  width: 531px;
  height: 250px;
}

#da-overview-top-level,
#da-overview-full,
#da-hourly-order {
  width: 1080px;
  height: 680px;
  > img {
    width: 100%;
  }
}

.impress-on-da-hourly-order #da-overview-full {
  opacity: 1;
}


/** SECONDARY DATA **/



/** NUMBERS VS VISUALISATION **/

#john-arbuthnot {
  text-align: center;
  height: 600px;

  img {
    width: 450px;
  }
}
#john-arbuthnot-table {
  width: 1000px;
  padding: 40px 0;
  h1 {
    text-align: center;
  }
  table {
    float: left;
    margin-right: 30px;

    font-family: @lightSansFontFamily;
    font-weight: 200;
    font-size: 20px;
    line-height: 24px;
    text-align: right;

    thead {
      font-family: @sansFontFamily;
      td {
        padding-bottom: 5px;
      }
    }
    td {
      width: 70px;
    }
  }

  .impress-on-john-arbuthnot-table2 & {
    opacity: 1;
    .uninteresting {
      opacity: 0.3;
    }
  }
}
#john-arbuthnot-chart {
  h1 {
    text-align: center;
    margin-bottom: 0;
  }
  svg {
    margin-top: -65px;
    font-weight: 200;
  }
  &.past {
    opacity: 1;

    .impress-on-john-arbuthnot-table2 & {
      opacity: 0;
    }
  }
}
#john-arbuthnot-chart2 {
  opacity: 0;

  &.active,
  .impress-on-john-arbuthnot-chart3 & {
    opacity: 1;
  }
}
#john-arbuthnot-chart3 {
  opacity: 0;
  &.active {
    opacity: 1;
  }
}
#john-arbuthnot-chart4 {
  opacity: 0;

  &.active,
  .impress-on-john-arbuthnot-chart5 & {
    opacity: 1;
  }
}
#john-arbuthnot-chart5 {
  opacity: 0;

  &.active {
    opacity: 1;
  }
}


/** PASSIVE USE **/

#da-overview-missing-1,
#da-overview-missing-2,
#da-overview-reasonability {
  width: 1080px;
  height: 680px;
  > img {
    width: 100%;
  }
}

#smart-assistant {
  width: 800px;
  height: 700px;
  > img {
    width: 100%;
  }
}


/** VISUAL DESIGN **/

#data-ink,
#data-pixels {
  width: 500px;
  height: 250px;
  h1 {
    font-size: 72px;
    text-align: center;
    margin: 0;
    padding: 0.25em;

    &:first-child {
      border-bottom: 1px solid @black;
    }
  }
  h2 {
    text-align: right;
    font-size: 36px;
    margin-right: -150px;
    opacity: 0.5;
  }
}

#visual-volume,
#visual-volume-2,
#visual-volume-3 {
  width: 400px;
  height: 318px;
  .first,
  .second {
    .transition(opacity @transition-time);
  }
}
.impress-on-visual-volume-2 #visual-volume,
.impress-on-visual-volume-3 #visual-volume {
  opacity: 1;
  .first {
    opacity: 0;
  }
}
.impress-on-visual-volume-3 #visual-volume {
  .second {
    opacity: 0;
  }
}

#visual-volume-da-overview {
  width: 1080px;
  height: 680px;
  > img {
    width: 100%;
  }
}


/** OUTRO **/
