// out: style.css, sourcemap: false, compress: true

@import "normalize.css";

@black: #231F20;
@white: #f5f5f5;
@blue: #3584a0;
@grey: #999;
@nps-primary: #00427A;

@sansFontFamily: Roboto, Helvetica, Arial, sans-serif;
@lightSansFontFamily: @sansFontFamily;

body {
  background: @white;
  font-family: @sansFontFamily;
  font-weight: 300;
  color: @black;
  min-height: 740px;
  line-height: 1.4;
}
h1, h2, h3, h4, h5 {
  font-family: @sansFontFamily;
  font-weight: 300;
}

.transition (...) {
  -webkit-transition: @arguments;
  -moz-transition:    @arguments;
  -ms-transition:     @arguments;
  -o-transition:      @arguments;
  transition:         @arguments;
}
.transform(...) {
  -webkit-transform: @arguments;
  -moz-transform:    @arguments;
  -ms-transform:     @arguments;
  -o-transform:      @arguments;
  transform:         @arguments;
}
.transform-style(...) {
  -webkit-transform-style: @arguments;
  -moz-transform-style:    @arguments;
  -ms-transform-style:     @arguments;
  -o-transform-style:      @arguments;
  transform-style:         @arguments;
}
.transform-origin(...) {
  -webkit-transform-origin: @arguments;
  -moz-transform-origin:    @arguments;
  -ms-transform-origin:     @arguments;
  -o-transform-origin:      @arguments;
  transform-origin:         @arguments;
}

@transition-time: 0.6s;

svg {
  .transform-style(preserve-3d);
}

.step {
  position: relative;
  margin: 20px auto;

  width: 900px;
  height: 700px;
  padding: 0;
  margin: 0;
  opacity: 0;
  .transition(opacity @transition-time);

  &.present, &.active {
    opacity: 1;
  }
}

.credit {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  bottom: 0;
  text-align: center;
  font-weight: 200;
}


/** INTRO / OUTRO **/

#scott-logic,
#hiring {
  width: 500px;
  height: 200px;
  h2 {
    color: @white;
    font-size: 36px;
    text-align: center;
    padding: 5px;
    margin-top: 175px;
    background-color: #2bb3bb;
  }
}
.impress-on-hiring #scott-logic {
  opacity: 1;
}

#set-the-scene {
  height: 550px;
  img {
    width: 100%;
  }
}
.impress-on-complex-information-examples #set-the-scene {
  opacity: 1;
}
#complex-information-examples {
  img {
    position: absolute;

    &:nth-child(1) {
      top: 100px;
      left: -30px;
      width: 900px;
      .transform-origin(bottom left);
      .transform(rotate(-15deg));
    }
    &:nth-child(2) {
      opacity: 0;
      .transition(opacity @transition-time ease 1s);
      height: 600px;
      bottom: 0;
      right: -50px;
      .transform-origin(center center);
      .transform(rotate(5deg));
    }
    &:nth-child(3) {
      opacity: 0;
      .transition(opacity @transition-time ease 2s);
      width: 800px;
      bottom: 0;
      left: -50px;
      .transform-origin(top right);
      .transform(rotate(-5deg));
    }
    &:nth-child(4) {
      opacity: 0;
      .transition(opacity @transition-time ease 3s);
      width: 600px;
      top: 0;
      left: 150px;
    }
    &:nth-child(5) {
      opacity: 0;
      .transition(opacity @transition-time ease 4s);
      width: 600px;
      top: 100;
      right: -100px;
      .transform-origin(top right);
      .transform(rotate(10deg));
    }
    &:nth-child(6) {
      opacity: 0;
      .transition(opacity @transition-time ease 5s);
      width: 600px;
      bottom: -50px;
      right: 0;
    }
    &:nth-child(7) {
      opacity: 0;
      .transition(opacity @transition-time ease 6s);
      width: 600px;
      top: 0;
      right: -100px;
      .transform-origin(top right);
      .transform(rotate(15deg));
    }
  }
}
.impress-on-complex-information-examples #complex-information-examples {
  img {
    opacity: 1;
  }
}

#my-aim-today,
#understanding,
#information-architecture,
#content,
#interaction-design,
#visual-design,
#more-to-it {
  width: 580px;
  height: 510px;

  g {
    .transition(opacity @transition-time);
  }
}
.impress-on-understanding #my-aim-today {
  opacity: 1;
  g:not(.understanding) {
    opacity: 0.3;
  }
}
.impress-on-information-architecture #my-aim-today {
  opacity: 1;
  g:not(.information-architecture) {
    opacity: 0.3;
  }
}
.impress-on-content #my-aim-today {
  opacity: 1;
  g:not(.content) {
    opacity: 0.3;
  }
}
.impress-on-interaction-design #my-aim-today {
  opacity: 1;
  g:not(.interaction-design) {
    opacity: 0.3;
  }
}
.impress-on-visual-design #my-aim-today {
  opacity: 1;
  g:not(.visual-design) {
    opacity: 0.3;
  }
}
.impress-on-more-to-it #my-aim-today {
  opacity: 1;
}

#power-trading,
#producer-and-consumers,
#producers-and-consumers,
#power-exchange,
#why-power-trading,
#who-nps {
  width: 810px;
  height: 500px;
}
.impress-on-why-power-trading #power-exchange,
.impress-on-who-nps #power-exchange,
.impress-on-who-nps #why-power-trading {
  opacity: 1;
}

#why-is-power-trading-different {
  width: 544px;
  height: 471px;
}

#day-ahead-vs-intraday {
  width: 700px;
  height: 450px;
  h1 {
    display: inline-block;
    width: 240px;
    text-align: center;
    font-size: 48px;
    position: absolute;
    top: 0;
    color: @nps-primary;
    .transform-origin(center center);
    .transition(transform @transition-time);
    > svg {
      width: 240px;
      height: 190px;
    }
    &.day-ahead {
      left: 0;
    }
    &.intraday {
      right: 0;
    }
  }
}
.impress-on-day-ahead #day-ahead-vs-intraday,
.impress-on-day-ahead-2 #day-ahead-vs-intraday {
  opacity: 1;
  .day-ahead {
    .transform(scale(1.4));
  }
  .intraday {
    opacity: 0.5;
    .transform(scale(0.8));
  }
}


/** UNDERSTAND **/

#areas-map {
  path,
  text {
    .transition(opacity @transition-time);
  }

  &.past {
    path:not(.no1),
    text:not(.no1) {
      opacity: 0.2;
    }
  }
}
.impress-on-one-area #areas-map.past {
  opacity: 1;
}

#hourly-order-table {
  display: none;
  opacity: 0;
  .transition(opacity @transition-time);
  width: 1500px;
  height: 800px;

  .table {
    width: 100%;
    height: 100%;

    > .row {
      opacity: 0;
      .transition(opacity @transition-time);

      width: 100%;
      height: 30px;
      position: relative;
    }
  }

  .hour {
    opacity: 0;
    .transition(opacity @transition-time);
    .transition(font-size @transition-time);
    .transition(width @transition-time);

    display: inline-block;
    width: 80px;
    text-align: left;
  }
  .time {
    opacity: 0;
    .transition(opacity @transition-time);
    .transition(font-size @transition-time);
    .transition(width @transition-time);

    display: inline-block;
    width: 90px;
    font-size: 0.8em;
    color: @grey;
    text-align: left;
  }
  .price-step {
    opacity: 0;
    .transition(opacity @transition-time);
    .transition(font-size @transition-time);
    .transition(width @transition-time);

    display: inline-block;
    width: 50px;
    text-align: right;
  }
  .curve {
    opacity: 0;
    .transition(opacity @transition-time);

    display: inline-block;
    position: absolute;
    top: -250px;
    left: 100px;
    width: 1100px;
    height: 500px;
  }
  .units {
    font-size: 0.8em;
    color: @grey;
    .transition(font-size @transition-time);
  }

  .line {
    fill: none;
    stroke: @black;
    stroke-width: 1.5px;
  }
  .price {
    fill: none;
    stroke: red;
    stroke-width: 2px;
    display: none;
  }
  .origin, .tick {
    fill: none;
    stroke: @grey;
    stroke-width: 0.5px;
  }
  .label {
    fill: @grey;
  }
}
.impress-on-twenty-four-hours #hourly-order-table {
  display: block;
  opacity: 1;
  .table > .row {
    opacity: 1;
  }
  .hour,
  .time {
    opacity: 1;
  }
}
.impress-on-one-hour #hourly-order-table,
.impress-on-min-max-price #hourly-order-table,
.impress-on-min-max-price-vols #hourly-order-table,
.impress-on-extra-price-steps #hourly-order-table {
  display: block;
  opacity: 1;
  .table > .row {
    &:nth-child(2) {
      opacity: 1;
    }
  }
  .hour,
  .time {
    opacity: 1;
  }
}
.impress-on-min-max-price #hourly-order-table,
.impress-on-min-max-price-vols #hourly-order-table {
  display: block;
  opacity: 1;
  .table > .row {
    &:nth-child(1) {
      opacity: 1;

      .price-step.min,
      .price-step.max {
          opacity: 1;
      }
    }
  }
  .hour {
    width: 50px;
  }
  .time {
    width: 0;
    font-size: 0;
  }
  .price-step {
    width: 0;
    font-size: 0;

    &.min,
    &.max {
      width: 100px;
      font-size: 1em;
    }
  }
}
.impress-on-min-max-price-vols #hourly-order-table,
.impress-on-extra-price-steps #hourly-order-table {
  display: block;
  opacity: 1;
  .table > .row {
    &:nth-child(2) {
      .price-step.min,
      .price-step.max {
        opacity: 1;
      }
    }
  }
}
.impress-on-extra-price-steps #hourly-order-table {
  display: block;
  opacity: 1;
  .table > .row {
    &:nth-child(1),
    &:nth-child(2) {
      opacity: 1;
      .price-step {
        opacity: 1;
      }
    }
  }
  .hour {
    width: 50px;
  }
  .time {
    width: 0;
    font-size: 0;
  }
  .units {
    font-size: 0;
  }
  .price-step {
    width: 65px;
    font-size: 1em;
  }
}
.impress-on-order-curve #hourly-order-table,
.impress-on-order-curve-focused #hourly-order-table {
  display: block;
  opacity: 1;
  .table > .row {
    &:nth-child(2) {
      opacity: 1;
      .price-step {
        opacity: 0;
      }
      .curve {
        opacity: 1;
      }
    }
  }
  .hour,
  .time {
    opacity: 1;
  }
  .hour {
    width: 50px;
  }
  .time {
    width: 0;
    font-size: 0;
  }
  .units {
    font-size: 0;
  }
}

#supply-demand {
  .de-emphasise {
    .transition(all @transition-time);
  }
  &.past {
    .de-emphasise {
      opacity: 0.3;
    }
  }
}
.impress-on-supply-demand-price #supply-demand {
  opacity: 1;
}

.impress-on-order-curve-with-price #hourly-order-table {
  display: block;
  opacity: 1;
  .table > .row {
    &:nth-child(2) {
      opacity: 1;
      .price-step {
        opacity: 0;
      }
      .curve {
        opacity: 1;
        .price {
          display: block;
        }
      }
    }
  }
  .hour {
    opacity: 1;
  }
  .time {
    width: 0;
    font-size: 0;
  }
}
.impress-on-twenty-four-hours-order-curves #hourly-order-table {
  display: block;
  opacity: 1;
  .table > .row {
    opacity: 1;
    .price-step {
      opacity: 0;
    }
    .curve {
      opacity: 1;
      .price {
        display: block;
      }
      height: 30px;
      top: 0;
    }
  }
  .hour {
    opacity: 1;
  }
  .time {
    width: 0;
    font-size: 0;
  }
  .y.min.hourly,
  .y.max.hourly,
  .y.label.hourly,
  .x.label.hourly {
    opacity: 0;
  }
}
.impress-on-full-price-matrix #hourly-order-table {
  display: block;
  opacity: 1;
  .table > .row {
    opacity: 1;
  }
  .hour {
    opacity: 1;
  }
  .time {
    font-size: 0em;
    width: 0;
  }
  .units {
    font-size: 0;
  }
  .price-step {
    opacity: 1;
    width: 65px;
    font-size: 1em;
  }
}

.impress-on-one-area-2 #areas-map.past {
  opacity: 1;
}
.impress-on-areas-map-2 #areas-map.past {
  opacity: 1;
  path:not(.no1),
  text:not(.no1) {
    opacity: 1;
  }
}


/** INFORMATION ARCHITECTURE **/

#visual-information-seeking {
  width: 900px;
  height: 400px;
  h1 {
    font-size: 60px;
    margin: 0;
    padding: 0;
    &:nth-child(2) {
      margin-left: 120px;
    }
    &:nth-child(3) {
      text-align: right;
    }
  }
  h2 {
    text-align: right;
    font-size: 36px;
    opacity: 0.5;
  }
}

.impress-on-da-overview-problem #hourly-order-table,
.impress-on-da-overview-problem-2 #hourly-order-table {
  display: block;
  opacity: 1;
  .table > .row {
    opacity: 1;
  }
  .hour {
    opacity: 1;
  }
  .time {
    font-size: 0em;
    width: 0;
  }
  .units {
    font-size: 0;
  }
  .price-step {
    opacity: 1;
    width: 65px;
    font-size: 1em;
  }
}

#overview-first-is-nested {
  width: 531px;
  height: 250px;
}

.impress-on-da-overview-observation #hourly-order-table,
.impress-on-da-overview-solution #hourly-order-table {
  display: block;
  opacity: 1;
  .table > .row {
    opacity: 1;
    .price-step {
      opacity: 0;
    }
    .curve {
      opacity: 1;
      .price {
        display: block;
      }
      height: 30px;
      top: 0;
    }
  }
  .hour {
    opacity: 1;
  }
  .time {
    width: 0;
    font-size: 0;
  }
  .y.min.hourly,
  .y.max.hourly,
  .y.label.hourly,
  .x.label.hourly {
    opacity: 0;
  }
}

#da-overview-top-level,
#da-overview-full,
#da-hourly-order {
  width: 1080px;
  height: 680px;
  > img {
    width: 100%;
  }
}

.impress-on-da-hourly-order #da-overview-full {
  opacity: 1;
}


/** SECONDARY DATA **/

#derived-information {
  height: 100px;
  h1 {
    font-size: 72px;
    text-align: center;
    padding: 0;
    margin: 0;
  }
}
#reasons-for-deriving {
  width: 1000px;
  height: 100px;
  h1 {
    font-size: 58px;
    margin: 0;
    padding: 0;

    .answers {
      position: absolute;
      text-align: right;
      right: 50%;
      margin-right: 80px;
      .transition(font-size @transition-time);
    }
    .overview {
      position: absolute;
      text-align: left;
      left: 50%;
      margin-left: 80px;
      .transition(font-size @transition-time);
    }
  }
}
.impress-on-reasons-for-deriving #derived-information,
.impress-on-deriving-for-answers #derived-information,
.impress-on-deriving-for-overview #derived-information {
  opacity: 1;
}
.impress-on-deriving-for-answers #reasons-for-deriving {
  opacity: 1;
  .answers {
    font-size: 72px;
  }
  .overview {
    font-size: 36px;
    opacity: 0.5;
  }
}
#deriving-for-answers-example {
  width: 800px;
  height: 600px;
  img {
    width: 800px;
  }
}
.impress-on-deriving-for-overview #reasons-for-deriving {
  opacity: 1;
  .answers {
    font-size: 36px;
    opacity: 0.5;
  }
  .overview {
    font-size: 72px;
  }
}
#deriving-for-overview-example {
  width: 1080px;
  height: 680px;
  > img {
    width: 100%;
  }
}
#rule-of-thumb {
  width: 1100px;
  height: 200px;
  h1 {
    font-size: 72px;
    margin: 0;
    padding: 0;
    > span {
      opacity: 0.5;
      font-size: 0.5em;
    }

  }
}


/** NUMBERS VS VISUALISATION **/

#numbers-vs-visualisation,
#numbers-vs-visualisation-3 {
  height: 100px;

  h1 {
    font-size: 72px;
    margin: 0;
    padding: 0;

    .number {
      position: absolute;
      text-align: right;
      right: 50%;
      margin-right: 60px;
    }
    .vs {
      position: absolute;
      font-size: 48px;
      left: 50%;
      margin-left: -20px;
      top: 16px;
    }
    .visualisation {
      position: absolute;
      text-align: left;
      left: 50%;
      margin-left: 60px;
    }
  }
}
#numbers-vs-visualisation-3 {
  h1 {
    font-size: 48px;

    .ish {
      opacity: 0.5;
      font-size: 0.8em;
    }
  }
}
.impress-on-numbers-vs-visualisation-2 #numbers-vs-visualisation,
.impress-on-numbers-vs-visualisation-3 #numbers-vs-visualisation {
  opacity: 1;
}
#numbers-visualisation-together {
  height: 300px;
  h1 {
    font-size: 72px;
    margin: 0;
    padding: 0;
    .question {
      position: absolute;
      font-size: 48px;
      left: 50%;
      margin-left: -7px;
      top: -30px;
    }
    .together {
      position: absolute;
      left: 50%;
      margin-left: -16px;
      top: 4px;
    }
  }
}
.impress-on-numbers-visualisation-together #numbers-vs-visualisation,
.impress-on-numbers-visualisation-together #numbers-vs-visualisation-3 {
  opacity: 1;

  h1 {
    .vs {
      opacity: 0;
    }
  }
}

#john-arbuthnot {
  text-align: center;
  height: 700px;

  img {
    width: 450px;
  }
}
#john-arbuthnot-table {
  width: 1000px;
  padding: 40px 0;
  h1 {
    text-align: center;
  }
  table {
    float: left;
    margin-right: 30px;

    font-family: @lightSansFontFamily;
    font-weight: 200;
    font-size: 20px;
    line-height: 24px;
    text-align: right;

    thead {
      font-family: @sansFontFamily;
      td {
        padding-bottom: 5px;
      }
    }
    td {
      width: 70px;
    }
  }

  .impress-on-john-arbuthnot-table2 & {
    opacity: 1;
    .uninteresting {
      opacity: 0.3;
    }
  }
}
#john-arbuthnot-chart {
  h1 {
    text-align: center;
    margin-bottom: 0;
  }
  svg {
    margin-top: -65px;
    font-weight: 200;
  }
  &.active,
  .impress-on-john-arbuthnot-chart2 &,
  .impress-on-john-arbuthnot-chart3 &,
  .impress-on-john-arbuthnot-chart4 &,
  .impress-on-john-arbuthnot-chart5 & {
    opacity: 1;
  }
}
#john-arbuthnot-chart2 {
  opacity: 0;

  &.active,
  .impress-on-john-arbuthnot-chart3 & {
    opacity: 1;
  }
}
#john-arbuthnot-chart3 {
  opacity: 0;
  &.active {
    opacity: 1;
  }
}
#john-arbuthnot-chart4 {
  opacity: 0;

  &.active,
  .impress-on-john-arbuthnot-chart5 & {
    opacity: 1;
  }
}

#sparklines {
  width: 350px;
  height: 400px;
  h1 {
    text-align: center;
    font-size: 72px;
  }
}

#da-overview-visualisation,
#da-hourly-numbers {
  width: 1080px;
  height: 680px;
  > img {
    width: 100%;
  }
}
.impress-on-da-hourly-numbers #da-overview-visualisation {
  opacity: 1;
}


/** PASSIVE USE **/

#the-illusion,
#the-reality {
  text-align: center;
  h1 {
    font-size: 72px;
  }
}

#areas-of-interest {
  width: 550px;
  height: 300px;
}

#da-overview-missing-1,
#da-overview-missing-2,
#da-overview-reasonability {
  width: 1080px;
  height: 680px;
  > img {
    width: 100%;
  }
}

#smart-assistant {
  width: 800px;
  height: 700px;
  > img {
    width: 100%;
  }
}


/** VISUAL DESIGN **/

#visual-volume,
#visual-volume-2,
#visual-volume-3 {
  width: 400px;
  height: 318px;
  .first,
  .second {
    .transition(opacity @transition-time);
  }
}
.impress-on-visual-volume-2 #visual-volume,
.impress-on-visual-volume-3 #visual-volume {
  opacity: 1;
  .first {
    opacity: 0;
  }
}
.impress-on-visual-volume-3 #visual-volume {
  .second {
    opacity: 0;
  }
}

#visual-volume-da-overview,
#presence-absence-example,
#visual-volume-da-overview-2 {
  width: 1080px;
  height: 680px;
  > img {
    width: 100%;
  }
}
